@using IAT2022.ViewModels
@model ProjectInformationViewModel

<h1>@Model.Project.ProjectName</h1>


<h1>@*@Model.GetTagsForProject()*@</h1>
<div class="AssessmentTable">
   <div>
   @foreach (var item in Model.Project.Tags)
   {
       <label class="TagClass">@item.Description</label>
   }
   </div>
    <table class="tableClass" id="simple_table">
      <tr class="tableFormat">
        <td id="customerTable" class="tableheader"><a asp-action="Customer" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink"><i class="fa-solid fa-user-group"><br />Kund</i></a></td>
            @for (var i = 0; i < Model.ConvertCustomer(Model.Project).Count; i++)
            {
                int value = i + 1;
                @if (Model.ConvertCustomer(Model.Project)[i])
                {
                    <td class="CustomerChecked" style="background-color:#@Model.Colors[i].ToString();color:white;">@value</td>

                }
                else
                {
                    <td class="CustomerUnchecked"><br /></td>
                }
            }
      </tr>

       <tr class="tableFormat">
        <td id="productTable"><a asp-action="Product" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink"><i class="fa-solid fa-box"><br />Produkt</i></a></td>
        @for (var i = 0; i < Model.ConvertProduct(Model.Project).Count; i++)
            {
                int value = i + 1;
                @if (Model.ConvertProduct(Model.Project)[i])
                {
                    <td class="CustomerChecked" id="Customer#@value">@value<br /><i class="fa-solid fa-check"></i></td>
                }
                else
                {
                    <td class="CustomerUnchecked">@value<br /><i class="fa-solid fa-xmark"></i></td>
                }
            }
      </tr>

      <tr class="tableFormat">
        <td id="iprTable"><a asp-action="IPR" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink"><i class="fa-solid fa-lightbulb"><br />IPR</i></a></td>
       @for (var i = 0; i < Model.ConvertIpr(Model.Project).Count; i++)
            {
                int value = i + 1;
                @if (Model.ConvertIpr(Model.Project)[i])
                {
                    <td class="CustomerChecked">@value<br /><i class="fa-solid fa-check"></i></td>
                }
                else
                {
                    <td class="CustomerUnchecked">@value<br /><i class="fa-solid fa-xmark"></i></td>
                }
            }
      </tr>
      <tr class="tableFormat">
        <td id="teamTable"><a asp-action="Team" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink"><i class="fa-solid fa-people-group"><br />Team</i></a></td>
        @for (var i = 0; i < Model.ConvertTeam(Model.Project).Count; i++)
            {
                int value = i + 1;
                @if (Model.ConvertTeam(Model.Project)[i])
                {
                    <td class="CustomerChecked" id="Team#@value">@value<br /><i class="fa-solid fa-check"></i></td>
                }
                else
                {
                    <td class="CustomerUnchecked">@value<br /><i class="fa-solid fa-xmark"></i></td>
                }
            }
      </tr>
      <tr class="tableFormat">
        <td id="businessTable"><a asp-action="Business" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink"><i class="fa-solid fa-suitcase"><br />Marknad</i></a></td>
        @for (var i = 0; i < Model.ConvertBusiness(Model.Project).Count; i++)
            {
                int value = i + 1;
                @if (Model.ConvertBusiness(Model.Project)[i])
                {
                    <td class="CustomerChecked">@value<br /><i class="fa-solid fa-check"></i></td>
                }
                else
                {
                    <td class="CustomerUnchecked">@value<br /><i class="fa-solid fa-xmark"></i></td>
                }
            }
      </tr>
      <tr class="tableFormat">
        <td id="financeTable"><a asp-action="Finance" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink"><i class="fa-solid fa-money-bill"><br />Finansiering</i></a></td>
        @for (var i = 0; i < Model.ConvertFinance(Model.Project).Count; i++)
            {
                int value = i + 1;
                @if (Model.ConvertFinance(Model.Project)[i])
                {
                    <td class="CustomerChecked">@value<br /><i class="fa-solid fa-check"></i></td>
                }
                else
                {
                    <td class="CustomerUnchecked">@value<br /><i class="fa-solid fa-xmark"></i></td>
                }
            }
      </tr>
    </table>
    <input type="button" onclick="pdfDownload()" value="Export To PDF" />
</div>