@using IAT2022.ViewModels
@model ProjectInformationViewModel

<h1>@Model.Project.ProjectName</h1>
<h2>HEEEEEEEEEEEJ</h2>

<style>
table, th, td {
  border:1px solid black;
}
</style>
<h1>@*@Model.GetTagsForProject()*@</h1>
<div class="AssessmentTable">
   @foreach (var item in Model.Project.Tags)
   {
       <label class="TagClass">@item.Description</label>
   }
    <table>
      <tr class="tableFormat">
        <td>KUND</td>
            @if(Model.Project.Customer == null)
            {
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
                <td></td>
            }
            else
            {
                @if (@Model.Project.Customer.K1)
                {
                    <td style="background-color:#00FF00; color:black;">K1</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K1</td>
                }
                @if (@Model.Project.Customer.K2)
                {
                    <td style="background-color:#00FF00; color:black;">K2</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K2</td>
                }
                @if (@Model.Project.Customer.K3)
                {
                    <td style="background-color:#00FF00; color:black;">K3</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K3</td>
                }
                @if (@Model.Project.Customer.K4)
                {
                    <td style="background-color:#00FF00; color:black;">K4</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K4</td>
                }
                @if (@Model.Project.Customer.K5)
                {
                    <td style="background-color:#00FF00; color:black;">K5</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K5</td>
                }
                @if (@Model.Project.Customer.K6)
                {
                    <td style="background-color:#00FF00; color:black;">K6</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K6</td>
                }
                @if (@Model.Project.Customer.K7)
                {
                    <td style="background-color:#00FF00; color:black;">K7</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K7</td>
                }
                @if (@Model.Project.Customer.K8)
                {
                    <td style="background-color:#00FF00; color:black;">K8</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K8</td>
                }
                @if (@Model.Project.Customer.K9)
                {
                    <td style="background-color:#00FF00; color:black;">K9</td>
                }
                else
                {
                    <td style="background-color:#FF0000">K9</td>
                }
            
            }
      </tr>

       <tr>
        <td>Produkt</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>IPR</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Team</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Affär</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Finnansering</td>
        <td></td>
        <td></td>
      </tr>
    </table>
</div>