@using IAT2022.ViewModels
@model ProjectInformationViewModel

<h1>@Model.Project.ProjectName</h1>
<h2>HEEEEEEEEEEEJ</h2>

<style>
table, th, td {
  border:1px solid black;
}
</style>

<div class="AssessmentTable">
   
    <table>
      <tr class="tableFormat">
        <td>KUND</td>
            @if(Model.Project.Customer == null)
            {
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>  
            }
            else
            {
            <td>1 @Model.Project.Customer.K1</td>
            <td>2 @Model.Project.Customer.K2</td>
            <td>3 @Model.Project.Customer.K3</td>
            <td>4 @Model.Project.Customer.K4</td>
            <td>5 @Model.Project.Customer.K5</td>
            <td>6 @Model.Project.Customer.K6</td>
            <td>7 @Model.Project.Customer.K7</td>
            <td>8 @Model.Project.Customer.K8</td>
            <td>9 @Model.Project.Customer.K9</td>    
            }
      </tr>

       <tr>
        <td>Produkt</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>IPR</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Team</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Affär</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Finnansering</td>
        <td></td>
        <td></td>
      </tr>
    </table>
</div>