@using IAT2022.ViewModels
@model ProjectInformationViewModel

<h1>@Model.Project.ProjectName</h1>


<h1>@*@Model.GetTagsForProject()*@</h1>
<div class="AssessmentTable">
   <div>
   @foreach (var item in Model.Project.Tags)
   {
       <label class="TagClass">@item.Description</label>
   }
   </div>
    <table class="tableClass">
      <tr class="tableFormat">
        <td><a asp-action="Customer" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink">KUND</a></td>
            @foreach (var item in Model.Project.Customer)
            {
                @if (item.Result)
                {
                    <td class="CustomerChecked">K @item.Id</td>
                }
                else
                {
                    <td class="CustomerUnchecked">K @item.Id</td>
                }
            }
            
           
      </tr>

       <tr class="tableFormat">
        <td><a asp-action="Product" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink">Produkt</a></td>
        @foreach (var item in Model.Project.Product)
        {
            @if (item.Result)
                {
                    <td class="CustomerChecked">P @item.Id</td>
                }
                else
                {
                    <td class="CustomerUnchecked">P @item.Id</td>
                }
        }
      </tr>

      <tr class="tableFormat">
        <td><a asp-action="IPR" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink">IPR</a></td>
        @foreach (var item in Model.Project.IPR)
        {
                        @if (item.Result)
                {
                    <td class="CustomerChecked">P @item.Id</td>
                }
                else
                {
                    <td class="CustomerUnchecked">P @item.Id</td>
                }
        }
      </tr>
      <tr class="tableFormat">
        <td><a asp-action="Team" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink">TEAM</a></td>
        @foreach (var item in Model.Project.Team)
        {
            @if (item.Result)
                {
                    <td class="CustomerChecked">P @item.Id</td>
                }
                else
                {
                    <td class="CustomerUnchecked">P @item.Id</td>
                }
        }
      </tr>
      <tr class="tableFormat">
        <td><a asp-action="Business" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink">AFFÄR</a></td>
        @foreach (var item in Model.Project.Business)
        {
            @if (item.Result)
                {
                    <td class="CustomerChecked">P @item.Id</td>
                }
                else
                {
                    <td class="CustomerUnchecked">P @item.Id</td>
                }
        }
      </tr>
      <tr class="tableFormat">
        <td><a asp-action="Finance" asp-controller="Assessment" asp-route-id="@Model.Project.Id" class="CategoryLink">FINNANSIERING</a></td>
        @foreach (var item in Model.Project.Finance)
        {
            @if (item.Result)
                {
                    <td class="CustomerChecked">P @item.Id</td>
                }
                else
                {
                    <td class="CustomerUnchecked">P @item.Id</td>
                }
        }
      </tr>
    </table>
</div>