@using IAT2022.ViewModels
@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Dina Projekt</h1> 
</div>
@*<div class="MyProjectsDiv">
    @foreach(var item in Model.Projects)
    {
        <li><a class="MyProjects" asp-controller="ProjectInformation" asp-action="ProjectInformation" asp-route-id="@item.Id">@item.ProjectName</a></li>

        <a class="MyProjects" asp-controller="ProjectInformation" asp-action="ProjectInformation" asp-route-id="@item.Id">@item.ProjectName</a>
    }
    
</div>*@
<div class=HomeProjects>
    @foreach (var item in Model.Projects)
    {
        <a class="projectLinks" asp-controller="ProjectInformation" asp-action="ProjectInformation" asp-route-id="@item.Id">@item.ProjectName <br/>@item.Description</a>
        <br />
    }


</div>